<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.cloud.tools.mapper.ToolManagementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ly.cloud.user.entity.ToolManagement">
        <id column="ID" property="toolId" />
        <result column="FBSJ" property="toolPublicTime" />
        <result column="FBYH" property="toolPublicUser" />
        <result column="GJMC" property="toolName" />
        <result column="GJLJ" property="toolUrl" />
        <result column="GJFJ" property="toolFile" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, FBSJ, FBYH, GJMC, GJLJ, GJFJ
    </sql>
    
    <select id="selectPage" resultMap="BaseResultMap">
    	select 
    	<include refid="Base_Column_List"></include>
    	from LY_LDD_GJGLB
    </select>

</mapper>
